*.o
*.sq3
*.core
magicka
msgs/*
node*/*
nodeinuse.*
doors/*
last10.dat
ansis/*
config/*
illusion/*
scripts/*
logs/*
files/*
*.a
deps/lua/lua
deps/lua/luac
netmail.out
echomail.out
deps/odoors/libs-*
deps/odoors/exe-*
deps/odoors/objs-*
utils/magiedit/magiedit
msgserial
whitelist.ip
blacklist.ip
.DS_Store
cdk-config
config.log
config.status
deps/cdk-5.0-20161210/Makefile
deps/cdk-5.0-20161210/cli/Makefile
deps/cdk-5.0-20161210/demos/Makefile
deps/cdk-5.0-20161210/examples/Makefile
cdk_config.h
cdk_version.h
utils/ticproc/ticproc
utils/mgpost/mgpost
deps/cdk-5.0-20161210/dscale.c
deps/cdk-5.0-20161210/fscale.c
deps/cdk-5.0-20161210/fslider.c
deps/cdk-5.0-20161210/scale.c
deps/cdk-5.0-20161210/slider.c
deps/cdk-5.0-20161210/uscale.c
deps/cdk-5.0-20161210/uslider.c
deps/cdk-5.0-20161210/include/dscale.h
deps/cdk-5.0-20161210/include/fscale.h
deps/cdk-5.0-20161210/include/fslider.h
deps/cdk-5.0-20161210/include/scale.h
deps/cdk-5.0-20161210/include/slider.h
deps/cdk-5.0-20161210/include/uscale.h
deps/cdk-5.0-20161210/include/uslider.h
deps/libb64-1.2/base64/base64
deps/libb64-1.2/base64/depend
deps/libb64-1.2/src/depend
utils/fileapprove/fileapprove
utils/magichat/magichat
utils/magiftpd/magiftpd
utils/magimail/bin/magiexport
utils/magimail/bin/magigetnode
utils/magimail/bin/magilist
utils/magimail/bin/magilistout
utils/magimail/bin/magimail
utils/magimail/bin/magimaint
utils/magimail/bin/magistats
utils/magimail/bin/magiwrite
keys/ssh_host_dsa_key
magicka.strings
www
keys/ssh_host_dsa_key.pub
keys/ssh_host_rsa_key
keys/ssh_host_rsa_key.pub
menus/doors.mnu
menus/file.mnu
menus/logoff.mnu
menus/mail.mnu
menus/main.mnu
core
docs/site
utils/reset_pass/reset_pass
.vscode
