*.o
*.sq3
*.core
magicka
msgs/*
node*/*
nodeinuse.*
doors/*
last10.dat
ansis/*
config/*
illusion/*
scripts/*
logs/*
*.a
deps/lua/lua
deps/lua/luac
netmail.out
echomail.out
deps/odoors/libs-*
deps/odoors/exe-*
deps/odoors/objs-*
utils/magiedit/magiedit
msgserial
whitelist.ip
blacklist.ip
.DS_Store
cdk-config
config.log
config.status
deps/cdk-5.0-20161210/Makefile
deps/cdk-5.0-20161210/cli/Makefile
deps/cdk-5.0-20161210/demos/Makefile
deps/cdk-5.0-20161210/examples/Makefile
cdk_config.h
cdk_version.h
