.footer {
	font-size: small;
}

.div-table {
	display: table;
	width: auto;
	background-color: #eee;
	border: 1px solid #666666;
	border-spacing: 5px;
}

.email-summary-seen {
	display: table-row;
	width: auto;
	clear: both;
	background-color: #eee;
}

.email-summary {
	display: table-row;
	width: auto;
	clear: both;
	background-color: #b2ffb0;
}

.email-id {
	float: left;
	display: table-column;
	width: 100px;
}

.email-subject {
	float: left;
	display: table-column;
	width: 400px;
}

.email-from {
	float: left;
	display: table-column;
	width: 200px;
}

.email-date {
	float: left;
	display: table-column;
	width: 200px;
}

.email-delete {
	float: left;
	display: table-column;
	width: 30px;
}

.email-view-header {
	background-color: #eee;
	border: 1px solid #666666;
	padding: 5px;
	margin-bottom: 10px;
}

.email-view-subject {
	font-size: xx-large;
}

.email-view-from {
	color: #222;
}

.email-view-date {
	color: #222;
}

.conference-list-item {
    background-color: #333333;
    color: white;
    padding: 5px;
}

.area-list-item {
	padding: 5px 0 5px 15px;
}

.area-list-new {
	padding: 5px 0 5px 15px;
	background-color: #b2ffb0;	
}

.msg-summary-seen {
	display: table-row;
	width: auto;
	clear: both;
	background-color: #eee;
}

.msg-summary {
	display: table-row;
	width: auto;
	clear: both;
	background-color: #b2ffb0;
}
.msg-summary-id {
	float: left;
	display: table-column;
	width: 100px;
}

.msg-summary-subject {
	float: left;
	display: table-column;
	width: 400px;
}

.msg-summary-from {
	float: left;
	display: table-column;
	width: 200px;
}

.msg-summary-to {
	float: left;
	display: table-column;
	width: 200px;
}

.msg-summary-date {
	float: left;
	display: table-column;
	width: 200px;
}

.msg-view-header {
	background-color: #eee;
	border: 1px solid #666666;
	padding: 5px;
	margin-bottom: 10px;
}

.msg-view-subject {
	font-size: xx-large;
}

.msg-view-from {
	color: #222;
}

.msg-view-to {
	color: #222;
}

.msg-view-date {
	color: #222;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #111111;
}

.email-reply-form {
	margin-left: 20px;
}
.button {
	padding-bottom:10px;
}
.button a {
	width: auto;
	padding: 5px;
	color: white;
	background-color: #333;
	text-decoration: none;
}

.button a:hover {
	background-color: #111111;
}

.last10-row {
	display: table-row;
	width: auto;
	clear: both;
	background-color: #eee;
}

.last10-name {
	float: left;
	display: table-column;
	width: 300px;
}

.last10-location {
	float: left;
	display: table-column;
	width: 300px;
}

.last10-date {
	float: left;
	display: table-column;
	width: 200px;
}

#msgbody {
	background-color: black;
	color: white;
	font-family: monospace;
}